body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: #fff;
}

h1 {
    margin-top: 20px;
}

video {
    margin-top: 20px;
    width: 640px;
    height: 480px;
    border: 3px solid #00ffcc;
    border-radius: 10px;
}

#timer {
    font-size: 1.5em;
    margin-top: 10px;
}

#status {
    margin-top: 5px;
    font-style: italic;
    color: #ccc;
}
